<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        iframe {
            width: 100vh;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="<%= url %>"></iframe>
</body>
</html>
